body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  width: 1350px;
  margin: auto;
}

.primopiano{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 125px;
  border-radius: 10px;
  margin: 5% auto 10%;
}

.taking {
  margin-top: 0;
  margin-bottom: 5px;
}

img {
  width: 25%;
}

header {
  text-align: center;
  color: #00dd00;
}

nav {
  background-color: #00dd00;
  text-align: center;
  line-height: 3em;
}

.item {
  font-size: 1.5em;
  font-weight: bold;
}

.user {
  color: white;
  margin-top: 25px;
}

.carica {
  background-size: 3em;
  border-radius: 3px;
}

#gino .carica {
  background-color: #f9be51;
  color: #f9be51;
  width: 350px;
}

#mike .carica {
  background-color: #00dd00;
  color: #00dd00;
  width: 600px;
}

#fede .carica {
  background-color: #fb5252;
  color: #fb5252;
  width: 250px;
}
